.createShortener{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 8px;
}

.shortenedList{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 97vh;
    margin: 0 auto;
}
.shortenedList ul{
    width: 100%;
  
}
.shortenedList li{
    list-style:none;
    text-align: left;
    display: flex;
}

.shortenedList li a{
    padding: 0rem 1.5rem;
    font-size: 1.2rem;
}


 